# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Outputs
outputs/

# data
data_test/
data_production/

# PyCharm / IntelliJ
.idea/

# VS Code
.vscode/

# parquet
*.parquet

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# csv table
.csv

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs and databases
*.log
*.sqlite3
*.db

# Environment variables
.env